@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;1,100&family=Shrikhand&display=swap');
/**BANNER**/
.banniere img{
    width: 100%;
    height: 40vh; /**change la hauteur en %**/
    object-fit: cover;
}

/**HEADER**/
header {
    display: flex;
    align-items: center;
}

header img {
    margin: auto;
}

/**MENU**/

.coeur {
    margin-left: 3rem;
}

.align-titre h1 {
    font-family: 'shrikhand', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: auto;
    padding-bottom: 1rem;
}

main {
    position: relative;
}

.menu h2 {
    font-size: 18px;
    font-weight: 200;
    position: relative;
    text-transform: uppercase;
    padding-top: 2rem;
    max-width: 85%;
    margin: auto;
}

.menu h2 ::before {
    padding-left: 2rem;
}

.menu h2::after {
    content:"" ;
    width: 30px;
    height: 3px;
    background: #99E2D0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}


.align-titre {
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 10px;
} 

/**Coeur anim**/
.heartFavorite {
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(0);
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    position: absolute;
    transition: all 0.5s;
}

.fa-heart {
    position: absolute;
}

.coeur {
    position: relative;
}

.coeur:hover .heartFavorite {
    transform: scale(1);
    opacity: 1;
}

/***/

/**Positionnement du coeur**/
.align-titre span i {   
    margin-top: 0.7rem;
    font-size: 18px;
    right: 2px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.7rem;
}
/**/
.align-titre span i:hover {
    animation: heartFavorite 1s ;
    cursor: pointer;
}



.menu {
    background: #f7f7f7;
    border-radius: 30px 30px 0px 0px;
    max-width: 100%;
    margin: auto;
    margin-top: -3rem;
    height: auto;
}

@keyframes apparence {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

.price {
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

.div-plat {
    display: flex;
    border-radius: 15px;
    background: white;
    max-width: 85%;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    animation: apparence ease-in-out 2s;
    overflow: hidden;
}

article:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/** Animatiion plat**/ 
.delay-1 {
    animation-delay: 0s;
    transform: scale(0);
    animation-fill-mode: forwards;
}

.delay-2 {
    animation-delay: 0.5s;
    transform: scale(0);
    animation-fill-mode: forwards;
}

.delay-3 {
    animation-delay: 1s;
    transform: scale(0);
    animation-fill-mode: forwards;
}

/****/

/**Check-Price**/
.div-plat:hover .check-container{
    width: 50px;
}


.check-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 0px;
    transition: width 1s;
    background: #99E2D0;
}
/** **/

.menu-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.div-plat h3, .div-plat p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-plat h3 {
    margin: 0;
    font-size: 15px;
}

.div-plat p {
    margin: 0;
    font-size: 14px;
}

/**BOUTON**/
.space {
    text-align: center;
    padding-bottom: 2rem;
}

.space-top {
    margin-top: 2rem;
    
}

@media (min-width:1024px) {
    .menu {
        max-width: 70%;
    }

    .bouton-commander {
        width: 50%;
    }

    /** 3 points a la fin de lignes  **/ 
    .div-plat h3, .div-plat p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menu h2 {
        max-width: 60%;
    }

    .div-plat {
        max-width: 60%;
    }
}


