@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;1,100&family=Shrikhand&display=swap');

.banniere img{
    width: 100%;
    height: 30vh; /**change la hauteur en %**/
    object-fit: cover;
}

header a {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

main h1 {
    font-family: 'shrikhand', sans-serif;
    text-align: center;
    font-size: 28px;
    margin: auto;
}

main {
    position: relative;
    margin-top: -3rem;
}

.menu {
    background: #eaeaea;
    border-radius: 1rem 1rem 0 0;
}

.div-plat {
    margin: 0rem 30rem;
    background: #ffffff;
    border-radius: 15px;
    line-height: none;
}

.div-plat h3 {
    font-size: 15px;
    margin-left: 1rem;
}

.div-plat p {
    font-size: 14px;
}

.div-plat span {
    font-weight: 600;
}
